<div class="container">
    <h2>Salvar Empresa</h2>
    <form (ngSubmit)="onSubmit()" #empresaForm="ngForm" novalidate>

        <div [ngClass]="getFormGroupClass(codigo.valid,codigo.pristine)">
            <label for="codigo" class="form-control-label">Codigo</label>
            <input type="text" placeholder="Informe o código" [ngClass]="getFormControlClass(codigo.valid, codigo.pristine)" required #codigo="ngModel" name="codigo" [(ngModel)]="empresa.codigo">
            <div class="form-control-feedback" [hidden]="codigo.valid || codigo.pristine">O campo codigo deve ser informado</div>
        </div>

        <div [ngClass]="getFormGroupClass(nome.valid,nome.pristine)">
            <label for="nome" class="form-control-label">Nome</label>
            <input type="text" placeholder="Informe o nome" [ngClass]="getFormControlClass(nome.valid, nome.pristine)" required #nome="ngModel" name="nome" [(ngModel)]="empresa.nome">
            <div class="form-control-feedback" [hidden]="nome.valid || nome.pristine">O campo nome deve ser informado</div>
        </div>

        <div [ngClass]="getFormGroupClass(cnpj.valid,cnpj.pristine)">
            <label for="cnpj" class="form-control-label">CNPJ</label>
            <input type="text" placeholder="Informe o cnpj" [ngClass]="getFormControlClass(cnpj.valid, cnpj.pristine)" required #cnpj="ngModel" name="cnpj" [(ngModel)]="empresa.cnpj">
            <div class="form-control-feedback" [hidden]="cnpj.valid || cnpj.pristine">O campo cnpj deve ser informado</div>
        </div>

        <div [ngClass]="getFormGroupClass(dtalteracao.valid,dtalteracao.pristine)">
            <label for="dtalteracao" class="form-control-label">Data de alteração</label>
            <input type="text" placeholder="Informe o dtalteracao" [ngClass]="getFormControlClass(dtalteracao.valid, dtalteracao.pristine)" required #dtalteracao="ngModel" name="dtalteracao" [(ngModel)]="empresa.dtalteracao">
            <div class="form-control-feedback" [hidden]="dtalteracao.valid || dtalteracao.pristine">O campo dtalteracao deve ser informado</div>
        </div>


        <div [ngClass]="getFormGroupClass(dtinclusao.valid,dtinclusao.pristine)">
            <label for="dtinclusao" class="form-control-label">Data de inclusão</label>
            <input type="text" placeholder="Informe o dtinclusao" [ngClass]="getFormControlClass(dtinclusao.valid, dtinclusao.pristine)" required #dtinclusao="ngModel" name="dtinclusao" [(ngModel)]="empresa.dtinclusao">
            <div class="form-control-feedback" [hidden]="dtinclusao.valid || dtinclusao.pristine">O campo dtinclusao deve ser informado</div>
        </div>

        <button type="submit" class="btn btn-success" [disabled]="!empresaForm.form.valid">Salvar</button>
        <a class="btn btn-secondary" routerLink="/">Voltar </a>
    </form>

</div>